@media all and (max-width: 992px) and (min-width: 920px) {
	#contact h3 {
		font-size: 20px;
	}
	#contact p {
		font-size: 14px;
	}
}

@media all and (max-width: 919px) {
	.slide-caption h1 {
		font-size: 34px;
	}
	p {
		font-size: 14px;
	}

	#contact h3 {
		font-size: 20px;
	}
}

@media all and (max-width: 881px) {
	.slide-caption h1 {
		font-size: 30px;
	}

	.btn-1 {
		font-size: 18px;
	}

	h3 {
		font-size: 20px;
	}
	#intro h6 {
		font-size: 14px;
	}

	#about a {
		font-size: 15px;
	}
}

@media all and (max-width: 768px) {
	h3 {
		font-size: 17px;
	}

	.filter-font {
		font-size: 14px;
		margin: 5px 0;
	}
}