*{

}

html {
  scroll-behavior: smooth;
}

.text-color {
    color: #ffba00;
}
.bg-color {
    background: #ffba00;
}

.bg-color-1 {
    background-color: #f7f7f7;
}
.bg-color-2 {
    background-color: #fff;
}

.white {
    color: #fff;
}

.black {
    color: #000;
}

.btn {
    width: 170px;
    transition: width .5s ease;
    -moz-transition: width .5s ease;
    -webkit-transition: width .5s ease;
    -o-transition: width .5s ease;
}

.btn:hover {
    width: 190px;
}

.btn-1 {
    width: 170px;
    color: #fff;
    font-size: 20px;
    background-color: #fa6600;
    line-height: 2;
    padding: 5px 15px;
}

.btn-1:hover {
    text-decoration: none;
    color: #fff;
}

.line {
    width: 70px;
    height: 3px;
}

/*body*/
body {
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/*nav bar*/
#top {
    transition: 0.4s;
    overflow: hidden;
    padding: 10px 0;
}
#logo {
    height: 70px;
}

#navbar-1 {
    transition: 1s;
}

/*SLIDE*/
#slide-show {
    padding-top: 90px;
}
.slide-caption {
    top: 35%;
    text-align: left;
}

/*BIKE*/
#bike {
    margin-left: auto;
}

.filter {
    list-style: none;
    padding: 10px 0;
}
.filter li {
    position: relative;
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;
}

.slider {
    position: absolute;
    display:block;
    left: 0;
    top:90%;
    margin:0 auto;
    height: 3px;
    width: 0%;
    transition: width 1s ease;
}
.filter li:hover span {
  width: 100%;
}

.grid-item {
    overflow: hidden;
}
.bike-title {
    position: absolute;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 0;
    bottom: 0;
    text-align: center;
    transition: height 0.5s ease-in;
}
.bike-title p {
    font-size: 14px;
}

.grid-item:hover .bike-title{
    height: 50%;
}
.grid-item img{
    transition: all 1s ease;
}
.grid-item:hover img{
    transform: scale(1.3);
}

/*FACTS*/
#facts {
    background-attachment: fixed;
    padding: 100px 0;
}
.number {
    font-size: 40px;
    margin-bottom: 3px;
    line-height: normal;
    color: rgb(250, 102, 0);
}
#facts .white {
    font-size: 0.928rem;
    letter-spacing: 2px;
}


/*CONTACT*/
.contact-item i {
    font-size: 40px;
}

/*MAP*/
#map {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-top: 25%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
}